{% extends 'userbase.html' %}
{% block header %}
<html>

<head>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 50px;
        }

        th,
        td {
            text-align: left;
            padding: 8px;

        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }

        th {
            background-color: #252b296b;
            color: white;
        }
    </style>
</head>

<body>
    <center>

<form method="post">
    {% csrf_token %}
    <table>
        <tr>
            <!-- <td>USER NAME</td> -->
            <td>LABOUR NAME</td>
            <td>BOOKING DATE</td>
            <td>BOOKED ON</td>
            <td>STATUS</td>
            <td>DAYS</td>
            <td>AMOUNT PER DAY</td>
            <td>ACTION</td>
        </tr>
        {% for d in data %}
        <tr>
            <!-- <td>{{d.1}}</td> -->
            <td>{{d.2}}</td>
            <td>{{d.3}}</td>
            <td>{{d.4}}</td>
            <td>{{d.5}}</td>
            <td>{{d.6}}</td>
            <td>{{d.7}}</td>
            <td><a href="/payment1/?id={{d.0}}&day={{d.6}}&amt={{d.7}}">PAY</a></td>
        </tr>
        {% endfor %}
    </table>
</form>
</div>

{% endblock %}